{
  "removeNamespaces" : [
    "sodipodi", "inkscape"
  ],
  "defaultOutputFolder": "./output/",
  "watchedFolders": [
    {
      "inputFolder": "./watched/input/",
      "outputFolder": "./watched/output/"
    },
    {
      "inputFolder": "./watched/input2/",
      "outputFolder": "./watched/output2/"
    }
  ]
}
